<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oza_idgaf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Ozaidgaf">

        <!-- ✅ PERTEMUAN 6 (UTAMA) -->
        <activity
            android:name=".Pertemuan6.WebViewActivity"
            android:exported="false" />

        <activity
            android:name=".Pertemuan6.MainActivity"
            android:exported="false" />

        <activity
            android:name=".Pertemuan6.LoginActivity"
            android:exported="false" />

        <!-- 🚀 LAUNCHER -->
        <activity
            android:name=".Pertemuan6.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 🔽 PERTEMUAN LAMA (BIAR GAK DIHAPUS) -->
        <activity android:name=".Pertemuan5.WebViewActivity" android:exported="false"/>
        <activity android:name=".Pertemuan5.ToolbarActivity" android:exported="false"/>

        <activity android:name=".Pertemuan4.Custom2Activity" android:exported="false"/>
        <activity android:name=".Pertemuan4.Custom1Activity" android:exported="false"/>
        <activity android:name=".Pertemuan4.RumusBangunRuangActivity" android:exported="false"/>
        <activity android:name=".Pertemuan4.DashboardActivity" android:exported="false"/>
        <activity android:name=".Pertemuan4.LoginActivity" android:exported="false"/>

        <activity android:name=".Pertemuan2.WelcomeActivity" android:exported="false"/>
        <activity android:name=".Pertemuan2.SecondActivity" android:exported="false"/>

    </application>

</manifest>